<!DOCTYPE html>
<html>
<head>
    <title>Admin Control Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="alows admin to block users and set time limits for access">
    <meta name="keywords" content="admin, kick, controll, access, time limit, overview">
    <link href="{{url_for('static', filename = 'adminStyles.css')}}" rel="stylesheet">
  <script src="{{url_for('static', filename = 'adminPage.js')}}"></script>
</head>

<body>

</body>
</html>